.checkmark__circle__check {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #e8cfa0;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark__circle__fail {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #991e1e;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark_check {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #e8cfa0;
    animation: fill-check .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark_fail {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #991e1e;
    animation: fill-fail .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

.checkmark__fail {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes scale {
    0%, 100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}
@keyframes fill-check {
    100% {
        box-shadow: inset 0px 0px 0px 30px #e8cfa0;
    }
}

@keyframes fill-fail {
    100% {
        box-shadow: inset 0px 0px 0px 30px #910606;
    }
}
.btn.btn-outline-gold{
    height: 60px;
    font-size: 16px;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    border: solid 2px #e8cfa0;
    background-color: #000000;
    border-radius: 0;
    width: 100%;
    transition: all 0.3s;
}
.btn.btn-outline-gold:hover{
    background-color: #e8cfa0;
}
#gs-captcha-failed,
#gs-captcha-reloading {
    display: none;
}
#gs-captcha-failed {
    color: red;
}
#gs-captcha-reloading {
    color: green;
}
/*CAPTCHA*/

#captchaModal .modal-content {
    background-color: #f6f6f6;
    padding: 7px;
    border: 1px solid #b39a6d;
}

#captchaModal .modal-footer g path {
    fill: #000;
}

#captchaModal .modal-footer a svg path {
    fill: #000;
}

#captchaModal .modal-header {
    font-family: Montserrat-Regular, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    text-align: center;
    color: #000000;
}

/*CAPTCHA DARK MODE*/

#captchaModal.dark-mode .modal-content {
    background-color: #000;
    padding: 7px;
    border: 1px solid #b39a6d;
}

#captchaModal.dark-mode .modal-header {
    color: #fff;
}

#captchaModal.dark-mode .modal-footer,
#captchaModal.dark-mode .modal-header {
    border-color: #444;
}

#captchaModal.dark-mode .modal-footer g path {
    fill: #b39a6d !important;
}

#captchaModal.dark-mode .modal-footer a svg path {
    fill: #fff;
}

/*CAPTCHA END*/
@media (max-width: 575px) {
    #custom-modal .modal-dialog {
        width: 90%;
    }
}

@media (max-width: 425px) {
    #custom-modal .modal-content .modal-header img {
        margin: 35px auto 26px auto;
    }

    #custom-modal .modal-content .modal-header h5 {
        font-size: 20px;
    }
    #custom-modal .modal-body div.d-flex {
        font-size: 20px;
    }
    #custom-modal .modal-body div.d-flex {
        font-size: 15px;
    }
    #custom-modal .modal-footer .disclaimer {
        font-size: 14px;
    }
    #custom-modal .modal-content .modal-footer button {
        width: 250px;
        height: 50px;
        font-size: 20px;
    }
    #custom-modal .modal-content .modal-footer button:first-of-type {
        margin-top: 19px;
        margin-bottom: 22px;
    }
    #custom-modal .modal-content .modal-footer button:last-of-type {
        margin-bottom: 26px;
    }
}
@media (max-width: 320px) {
    #custom-modal .modal-content .modal-header img {
        margin: 0 auto 15px auto;
    }
    #custom-modal .modal-footer .disclaimer {
        font-size: 14px;
    }

    #custom-modal .modal-content .modal-footer button {
        font-size: 18px;
        max-width: 240px;
    }
}

.modal-footer button {
    cursor: pointer;
}

button#captchaModalButton[disabled]:hover {
    background-color: transparent;
    cursor: not-allowed;
}

.captcha-button {
    width: 80%;
    height: 50px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin: auto;
    border-image-source: linear-gradient(98deg, #e9cfa1, #b39a6d);
    border-image-slice: 1;
    background-image: linear-gradient(to bottom, #1b1b1b, #000000), linear-gradient(98deg, #e9cfa1, #b39a6d);
    background-origin: border-box;
    background-clip: content-box, border-box;
    display: flex;
    cursor: pointer;
    padding-left: 0;
    padding-right: 0;
    align-items:center;
}
.captcha-button:hover {
    border-image-source: linear-gradient(98deg, white, white);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}
.captcha-dot {
    height: 16px;
    width: 16px;
    margin-left: 15px;
    background-color: #bbb;
    border-radius: 50%;
    background-image: linear-gradient(135deg, #e9cfa1, #b39a6d);
}
.captcha-text {
    font-size: 15px;
    margin-left: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.54px;
    color: #ffffff;
}
.captcha-logo {
    width: 30px;
    height: 29px;
    margin-left: auto;
    margin-right: 17px;
    object-fit: contain;
}
.status {
    display: flex;
    width: 100%;
    align-items:center;
    justify-content: center;
}
